<div class="card text-bg-dark m-2">
  <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg", class: "card-img", alt: "user uploaded background image" %>
  <div class="card-img-overlay bg-primary bg-opacity-25 d-flex align-items-center justify-content-center">
    <h3 class="card-title"><%= list.name %></h3>
  </div>
</div>
